.form{
    background: lightslategrey;
    padding: 1pc;
    max-width: 15pc;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
input{
  background: indigo;
  border-radius: 20%;
  border: 2px solid #e8e8e8;
  width: 95%;
  height: 38px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
button{
    background-color: green;
    border-radius: 2ex;
    font-size: 17pt;
    padding: 10px;
    margin: 1pc;
}
.error{
    background: lightcoral;
    border: 3px dashed darkred;
    padding: 0px;
    margin: 0px;

}
